<h1 class="mb-4">Danh Sách Khách Hàng</h1>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Mã Khách Hàng</th>
        <th>Tên Khách Hàng</th>
        <th>Số Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Email</th>
        <th>Ngày Sinh</th>
        <th>Hành Động</th>
    </tr>
    </thead>
    <tbody>
    <% customers.forEach(customer => { %>
        <tr>
            <td><%= customer.ma_kh %></td>
            <td><%= customer.ten_kh %></td>
            <td><%= customer.sdt %></td>
            <td><%= customer.dia_chi %></td>
            <td><%= customer.email %></td>
            <td><%= customer.ngaysinh %></td>
            <td>
                <a href="/customers/<%= customer.id %>/edit" class="btn btn-primary btn-sm">Sửa</a>
                <form action="/customers/<%= customer.id %>/delete" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                </form>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>